#lorem{
  background-color: white;
}

#skills{
  background-color: #00B4DB;
  opacity: 0.7;
  color: white;


}

#body{
  background-color: #00B4DB;


}

body {
  background-image: url("../img/office2.jpeg");
  opacity: 1;

  background-size: cover;
  background-attachment: fixed;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 3.5em;
}


#hello{
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;

}

#hello2{
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;

}

font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'K2D', sans-serif;
font-family: 'Cedarville Cursive', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Play', sans-serif;
